# ESLint Ignore
# https://eslint.org/docs/user-guide/configuring/ignoring-code

**/.yarn/*
**/build/*
**/cjs/*
**/esm/*
**/node_modules/*
**/types/*

**/CHANGELOG.md
__tests__/__fixtures__/trext.plugin.js

!/src/types/*
!**/.*.*
